@model MainClass
@{
    Layout = "_LayoutAdmin";
}

<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 ">
    <div class="input-group mb-3">
        <form asp-controller="Admin" asp-action="Index">
            <input name="name" type="text" class="form-control" placeholder="Recipient's username"
                   aria-label="Book search" aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" id="button-addon2">Search</button>
        </form>

    </div>
</div>
@if (Model.items != null)
{
    <table style="border:1px solid black" id="order">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Price</th>
                <th>Supplies</th>
                <th>Authors</th>
                <th>Genre</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.items.Count; i++)
            {
                @if (Model.items[i].volumeInfo.imageLinks != null)
                {
                    <tr id="row-@i">
                        <td>
                            <img src="@Model.items[i].volumeInfo.imageLinks.thumbnail" alt="Alternate Text" />
                        </td>
                        <td>@Model.items[i].volumeInfo.title</td>
                        <td><input type="number" /></td>
                        <td><input type="number" /></td>
                        <td>
                            @if (Model.items[i].volumeInfo.authors != null)
                            {
                                @foreach (var author in Model.items[i].volumeInfo.authors)
                                {
                                    <p>@author</p>
                                }
                            }
                        </td>
                        <td>
                            @Html.DropDownListFor(m => m.genres, new SelectList(Model.genres), "Select genres", new
                                {
                                    onchange = $"SaveGenre(this.id)",
                                    id = $"genres-{i}"
                                }
                            )
                            <p></p>
                        </td>
                        <td><span onclick="AddBook(this.id, `@Model.items[i].volumeInfo.description`)" id="icon-@i"><i class="fas fa-plus-circle"></i></span></td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <h1>Invalid search!</h1>
}


<style>
    td {
        border: 1px solid black;
        width: 14%;
    }

    th {
        border: 1px solid black;
    }

    table {
        text-align: center;
    }

    input {
        width: 70%
    }
    p{
        max-width: 100%
    }
</style>
<script>
    function AddBook(id, description) {
        var row = $(`#${id}`).closest('tr');
        var image = row.find('td:eq(0)').children('img').attr('src');
        var title = row.find('td:eq(1)').text();
        var price = row.find('td:eq(2)').children('input').val();
        var supplies = row.find('td:eq(3)').children('input').val();
        var authors = row.find('td:eq(4)').text();
        var genres = row.find('td:eq(5)').children('p').text();
        if (price > 0 && supplies > 0 && genres != "") {
            $.ajax({
                url: '@Url.ActionLink("PickedBooks", "Admin")',
                data: {
                    image: image,
                    title: title,
                    price: price,
                    supplies: supplies,
                    authors: authors,
                    genres: genres,
                    description: description
                },
                method: "get",
                success: function (data) {
                    $("#cart_number").html(data + `<i class="fas fa-book"></i>`);
                },
                error: function () {
                    alert("Error!");
                }
            });
        } else {
            row.css({ "background-color": "red" });
        }

    }

    function SaveGenre(id) {
        var text = $(`#${id} option:selected`).text();
        var cmb = $(`#${id}`).parent().children('p').text();
        if (text != "Select authors" && !cmb.includes(text))
            $(`#${id}`).parent().children('p').append(text + ", ")
    }

    

</script>