

@model List<Order>
@{
    ViewData["Title"] = "Customer orders";
    Layout = "_LayoutAdmin";
}



@section Style{
    <link href="~/css/Cart.css" rel="stylesheet" />
}

@if (Model is null || Model.Count == 0)
{
    <h1>There are no orders from customers</h1>
}
else
{

    <table style="border:1px solid black" id="orderCustomer" class="table table-bordered table-striped">
        <thead>
            <tr>
              
                <th>OrderNumber</th>
                <th>Purchase date</th>
                <th>Total</th>
                <th>Customer</th>
                <th>Order status</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var order in Model)
            {
                <tr>
                    
                    <td>@order.OrderId</td>
                    <td>@order.Date</td>
                    <td>@order.Total</td>
                    <td>@order.Customer</td>
                    <td>

                        <div id="@order.OrderId">

                            <select>
                                <option selected value="@order.OrderStatus">@order.OrderStatus</option>
                                @if (order.OrderStatus != OrderStatus.Completed)
                                {

                                    <option value="@OrderStatus.Completed">@OrderStatus.Completed</option>
                                }

                                @if (order.OrderStatus != OrderStatus.InProgress)
                                {
                                    <option value="@OrderStatus.InProgress">@OrderStatus.InProgress</option>

                                }

                                @if (order.OrderStatus != OrderStatus.Shipped)
                                {
                                    <option value="@OrderStatus.Shipped">@OrderStatus.Shipped</option>

                                }

                                @if (order.OrderStatus != OrderStatus.Uncompleted)
                                {
                                    <option value="@OrderStatus.Uncompleted">@OrderStatus.Uncompleted</option>

                                }
                            </select>
                        </div>
                    </td>
                </tr>


            }


        </tbody>
    </table>


    <div class="pagination-container">
        <nav>
            <ul class="pagination">
            </ul>
        </nav>
    </div>

    <a href="@Url.Action("UpdateOrder","Admin")" class="btn btn-primary" id="submitOrders">Save changes</a>

}

@section JavaScript{
    <script>
        var table = '#orderCustomer'

        $('.pagination').html('')
        var trnum = 0


        var maxRows = 5

        var totalRows = $(table + ' tbody tr').length

        $(table + ' tr:gt(0)').each(function () {
            trnum++

            if (trnum > maxRows) {
                $(this).hide()
            }
            if (trnum <= maxRows) {
                $(this).show()
            }

        })

        if (totalRows > maxRows) {
            var pagenum = Math.ceil(totalRows / maxRows)

            for (var i = 1; i <= pagenum;) {

                $('.pagination').append('<li data-page="' + i + '"><span class="page-link">' + i++ + '</span></li>').show()

            }


        }

        $('.pagination li:first-child').addClass('active')
        $('.pagination li').on('click', function () {
            var pageNum = $(this).attr('data-page')
            console.log("data page" + pageNum)
            var trIndex = 0;
            $('.pagination li').removeClass('active')
            $(this).addClass('active')
            $(table + ' tr:gt(0)').each(function () {
                trIndex++
                if (trIndex > (maxRows * pageNum) || trIndex <= ((maxRows * pageNum) - maxRows)) {
                    $(this).hide()
                }
                else {
                    $(this).show()
                }
            })
        })




    </script>

    <script>



                $('select').on('change', function () {

                    var id = this.parentElement.id;
                    var status = this.value;
                        $.ajax({
                            url: '@Url.ActionLink("OrderStatusChanged", "Admin")',
                            data: { orderId:id,status:status},

                            success: function () {

                            },
                            error: function () {
                                alert("error")
                            }
                        });

                })


    </script>

}


