@model Order
@{
    ViewData["Title"] = "Cart";
}
@section Style{
    <link href="~/css/Cart.css" rel="stylesheet" />
}

@if (Model is null || Model.OrderItems.Count == 0)
{
    <h1>Cart is empty</h1>
}
else
{
    <table style="border:1px solid black" id="order">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total for the product</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td><img src="~/img/@item.Book.Image" asp-append-version="true" alt="Alternate Text" /> </td>
                    <td>@item.Book.Title</td>
                    <td>@item.Book.Price</td>
                    <td>
                        <select name="suplies" id="@item.Book.BookId" onchange="changeNumberOfBooks(this.id, this.value, @item.Book.Price)" value="@item.Quantity">
                            @for (int i = 0; i < item.Book.Supplies; i++)
                            {
                                if (i + 1 == item.Quantity)
                                {
                                    <option selected>@(i+1)</option>
                                }
                                else
                                {
                                    <option>@(i+1)</option>
                                }
                            }
                        </select>
                    </td>
                    <td id="totalPrice+@item.Book.BookId">@(item.Book.Price * @item.Quantity)</td>
                    <td><span id="@item.Book.BookId" onclick="removeItemFromCart(this.id)"><i class="far fa-times-circle"></i></span></td>
                </tr>
            }
        </tbody>
    </table>


    <a href="@Url.Action("Purchase","Cart")" class="btn btn-success">Purchase</a>
}

@section JavaScript{
    <script>
        function changeNumberOfBooks(id, value, price) {
            $.ajax({
                url: '@Url.ActionLink("ChangeSupplisForThisItem", "Cart")',
                data: { id: id, value: value },
                method: "post",
                success: function () {
                },
                error: function () {
                    alert("Error!");
                }
            });
            document.getElementById(`totalPrice+${id}`).innerHTML = price*value;
        }

        function removeItemFromCart(id) {
            $.ajax({
                url: '@Url.ActionLink("RemoveItemFromCart", "Cart")',
                data: { bookid: id },
                method: "delete",
                success: function () {
                },
                error: function () {
                    alert("Error!");
                }
            }); 
            document.getElementById(`${id}`).parentElement.parentElement.remove();
            if ($('table tr').length == 1) {

                var removeTab = document.getElementById('order');

                var parentEl = removeTab.parentElement;

                parentEl.removeChild(removeTab);

                var node = document.createElement("H1");
                var textnode = document.createTextNode("Cart is empty");
                node.appendChild(textnode);
                document.getElementById("main").appendChild(node);

             


            }
        }

    </script>
}