
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css">
    <link rel="stylesheet" href="~/css/Code.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />
    <link href="~/css/signUp.css" rel="stylesheet" />
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="container">
        <header id="header" class="row">
            <div class="logo col-lg-2 col-md-12 col-sm-12 col-xs-24 "><img src="~/img/ABA LOGO.png" alt="Alternate Text" /></div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 ">
                <div class="input-group mb-3">
                    <form asp-controller="Book" asp-action="PassBook">
                        <input onkeyup="FindBooksByTitle()" class="form-control" list="datalistOptions" name="book" id="exampleDataList" placeholder="Type to search...">
                        <datalist id="datalistOptions">
                        </datalist>
                        <button class="btn btn-outline-secondary">Search</button>
                    </form>
                </div>
            </div>
            @if (ViewBag.IsLogged)
            {
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a asp-controller="Customer" asp-action="SignOut">Sign out</a>
                    <a asp-controller="Customer" asp-action="Update">User</a>

                </div>
            }
            else
            {
                <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12">
                    <a asp-controller="Customer" asp-action="SignIn">Sign in</a>
                    <a asp-controller="Customer" asp-action="SignUp">Sign up</a>
                </div>
            }
            <div id="wish-cart" class="col-lg-1 col-md-6 col-sm-6 col-xs-12">
                <div id="cart">
                    <a id="cart_number" asp-controller="Cart" asp-action="Index"><i class="fas fa-shopping-cart" id="cartI">@ViewBag.CartItems</i></a>
                </div>
                <div>
                    <a id="cart_number" asp-controller="Order" asp-action="Index"> Orders</a>
                </div>
            </div>
        </header>

        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Book" asp-action="Index">Books</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <main role="main" class="pb-3" id="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span>&copy; 2021 - ABA BOOKS</span>
            <span>For more information contact us on email dragojlo406@gmail.com</span>
        </div>
    </footer>
    <script>
        function FindBooksByTitle() {
            if (event.keyCode === 13) {
                console.log("enter")
            }
            else {
                var selectedValue = $("#exampleDataList").val();
                jQuery.ajaxSettings.traditional = true;
                $.ajax({
                    url: '@Url.Action("FindBooksByTitle", "Book")',
                    data: { title: selectedValue },
                    method: "post",
                    success: function (data) {
                        $("#datalistOptions").html("");
                        for (var i = 0; i < data.length; i++) {
                            var _option = `<option>${data[i].title} (${data[i].price}RSD)</option>`;
                            $("#datalistOptions").append(_option);
                        }

                    },
                    error: function () {
                        alert("Error!");
                    }
                });
            }
        }

        function ShowItemFromSearch() {
            $.ajax({
                url: '@Url.ActionLink("PassBook", "Book")',
                data: { book: $("#exampleDataList").val()},
                success: function () {

                },
                error: function () {
                    alert("Error!");
                }
            });
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Functions.js"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("JavaScript", required: false)



</body>
</html>
