<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Layout.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
          integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
          crossorigin="anonymous" />
    <link href="~/css/signUp.css" rel="stylesheet" />
    @RenderSection("Style", required: false)
</head>
<body>
    <div class="container">
        <header id="header" class="row">
            <div class="logo col-lg-2 col-md-12 col-sm-12 col-xs-24 "><img src="~/img/ABA LOGO.png" alt="Alternate Text" /></div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 ">
                <div class="input-group mb-3">
                    <form asp-controller="Admin" asp-action="Index">
                        <input name="name" type="text" class="form-control" placeholder="Enter book name"
                               aria-label="Book search" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" id="button-addon2">Search</button>
                    </form>

                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6 col-xs-6 text-right">
                <a><i class="fas fa-users-cog"></i></a> @*not need for admin to change his data*@
                <a asp-controller="Customer" asp-action="SignOut">Sign out</a>
            </div>
            <div id="wish-cart" class="col-lg-1 col-md-6 col-sm-6 col-xs-6">
                <div id="cart">
                    <a id="cart_number" asp-controller="Admin" asp-action="SelectedBooks">@ViewBag.ChosenBooks<i class="fas fa-book"></i></a>
                </div>
            </div>
        </header>
        
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px;">

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Admin" asp-action="Index">Add books</a>
                    </li> 
                    <li class="nav-item">
                       <a class="nav-link" asp-controller="Admin" asp-action="ViewOrders">Orders</a>
                    </li>


                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <main role="main" class="pb-3" id="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - EShop.WepApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        var path = window.location.pathname;
        if (path == "/Admin") {
            $("nav ul li:nth-child(1)").addClass("active");
        }
        else if (path.includes("ViewOrders")) {
            $("nav ul li:nth-child(2)").addClass("active");
        }
    </script>
    @RenderSection("Scripts", required: false)
    @RenderSection("JavaScript", required: false)
</body>
</html>