@model List<Genre>
@section Style{
    <link href="~/css/pagination.css" rel="stylesheet" />
}

<div class="container" style="margin-top: 35px;">
    <div class="row">

        <div class="col-lg-10 col-md-12 col-sm-12">

            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li id='previous-page' class="page-item-arrow">
                        <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>

            <div id="loop">

            </div>
        </div>
        <div class="col-lg-2 col-md-12">
            <div id="myDropdown" class="dropdown-content">
                <select id="prices" onchange="filterFunction()">
                    <option>No filters</option>
                    <option>Less than 500</option>
                    <option>500 - 1000</option>
                    <option>1000 - 1500</option>
                    <option>1500 - 2000</option>
                    <option>2000 - 3000</option>
                    <option>3000 - 4000</option>
                    <option>4000 - 5000</option>
                    <option>More than 5000</option>
                </select>
            </div>
            <div id="myCheckboxes" class="dropdown-content">
                @foreach (var item in Model)
                {
                    <input onchange="filterFunction()" type="checkbox" id="genre-@item.GenreId" name="@item" value="@item">
                    <label for="@item">@item</label><br>
                }
            </div>
        </div>
    </div>
</div>

@section JavaScript{
    <script>

        //var windowSize = window.innerWidth;

        //if (windowSize >= 769)
        //    $('.pagination').parent().parent().parent().addClass("row");
        //else if (windowSize <= 768)
        //    $('.pagination').parent().parent().parent().removeClass("row");


        var limitPerPage = 6;
        var totalPages;

        function SelectChosenCBs(array) {
            var allCBs = $("#myCheckboxes").children('input')

            for (var i = 0; i < allCBs.length; i++) {
                for (var j = 0; j < array.length; j++) {
                    if (allCBs[i].value == array[j]) {
                        allCBs[i].checked = true;
                    }
                }
            }
        }

        function GetSelectedOption(selectedPrice) {
            if (selectedPrice != null) {
                var options = $("#prices option");
                for (var i = 0; i < options.length; i++) {
                    if (options[i].value == selectedPrice) {
                        options[i].selected = 'selected';
                        return;
                    }
                    else
                        options[i].selected = '';
                }
            }
        }

        function GetNumberOfBooks() {
            var checkedBoxes = $("input:checked");
            var array = new Array();
            for (let i = 0; i < checkedBoxes.length; i++) {
                array.push(checkedBoxes[i].value);
            }
            $.ajax({
                url: '@Url.ActionLink("NubmerOfBooks", "Book")',
                data: {},
                method: "get",
                success: function (totalNumberOfBooks) {
                    partialLoad(totalNumberOfBooks, "No filters", array);
                },
                error: function () {
                    alert("Error!");
                }
            });
        }
        GetNumberOfBooks();

        function pastePicture(image, title, price, bookId) {
            return text =`<div class="list-group col-lg-3">
                            <div class="list-group-item active">
                                <div class="content">
                                    <img src="${image}" asp-append-version="true" alt="Alternative Text">
                                    <div class="text">
                                        <p>${title}</p>
                                        <p>${price} RSD</p>
                                    </div>
                                </div>
                                <div class="description">
                                    <div class="d-text">
                                        <button onclick="ShowItem(${bookId})">Show more</button>
                                        <button class="btn btn-success" onclick="AddToCart(${bookId})">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>`;
        }
        function mainPart() {
            return text =`<div class="container" style="margin-top: 35px;">
                            <div class="row">

                                <div class="col-lg-10 col-md-12 col-sm-12">

                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            <li id='previous-page' class="page-item-arrow">
                                                <a class="page-link" href="javascript:void(0)" aria-label="Previous">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>

                                    <div id="loop">

                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12">
                                    <div id="myDropdown" class="dropdown-content">
                                        <select id="prices" onchange="filterFunction()">
                                            <option>No filters</option>
                                            <option>Less than 500</option>
                                            <option>500 - 1000</option>
                                            <option>1000 - 1500</option>
                                            <option>1500 - 2000</option>
                                            <option>2000 - 3000</option>
                                            <option>3000 - 4000</option>
                                            <option>4000 - 5000</option>
                                            <option>More than 5000</option>
                                        </select>
                                    </div>
                                <div id="myCheckboxes" class="dropdown-content">
                                    @foreach (var item in Model)
                                    {
                                        <input onchange="filterFunction()" type="checkbox" id="genre-@item.GenreId" name="@item" value="@item">
                                        <label for="@item">@item</label><br>
                                    }
                                </div>
                                </div>
                            </div>
                        </div>`;
        }

        function partialLoad(numberOfBooks, price, genres) {
            totalPages = Math.ceil(numberOfBooks / limitPerPage);
            //inserted first item
            $('.pagination').append(`<li class="page-item active"><a name="pagiNum" class="page-link" href="javascript:void(0)">1</a></li>`);
            //loop throught other items
            for (var i = 2; i <= totalPages; i++) {
                $('.pagination').append(`<li class="page-item"><a name="pagiNum" class="page-link" href="javascript:void(0)">${i}</a></li>`);
            }
            //insert right arrow
            $('.pagination').append(`<li id='next-page' class="page-item-arrow"><a class="page-link" href="javascript:void(0)" aria-label="Next">    <span aria-hidden="true">&raquo;</span></a></li>`);
            GetSixBooks(1, price, genres);
        }


        function ShowItem(bookId) {
            $.ajax({
                url: '@Url.ActionLink("GenerateBookUrl", "Book")',
                data: {
                    bookId: bookId
                },
                method: "post",
                success: function (data) {
                    window.location.replace(data.redirectUrl);
                },
                error: function () {
                    alert("Error!");
                }
            });
        }

        function PasteThisBooks(data) {
            for (var i = 0; i < limitPerPage; i++) {
                var $div = $("<div>", { "class": "row" });
                for (var j = 0; j < 3; j++) {
                    if (i < data.length) {
                        $div.append(pastePicture(data[i].image, data[i].title, data[i].price, data[i].bookId));
                    }
                    else {
                        $div.append(`<div class="list-group col-lg-3"></div>`);
                    }
                    i++;
                }
                i--;
                $("#loop").append($div);
            }
        }



        function GetSixBooks(pageNumber, price, genres) {
            jQuery.ajaxSettings.traditional = true;
            $.ajax({
                url: '@Url.ActionLink("ReturnSixBooks", "Book")',
                data: { pagiNumber: pageNumber, price: price, genres: genres },
                method: "get",
                success: function (data) {
                    $("#loop").html("");
                    PasteThisBooks(data);
                },
                error: function () {
                    alert("Error!");
                }
            });
        }

        function clickOnNumber() {
            $('.pagination li.page-item').on("click", function () {
                if ($(this).hasClass("active"))
                    return false;
                else {
                    var checkedBoxes = $("input:checked");
                    var array = new Array();
                    for (let i = 0; i < checkedBoxes.length; i++) {
                        array.push(checkedBoxes[i].value);
                    }
                    //var nameLastName = $("#autors").val(); put prices
                    var price = $("#prices").val(); //done
                    var currentPage = $(this).index();
                    $('.pagination li').removeClass("active");
                    $(this).addClass("active");
                    GetSixBooks(currentPage, price, array);
                }
            });
        }

        function filterFunction() {
            //var nameLastName = $("#autors").val(); put price
            var price = $("#prices").val();//done
            var checkedBoxes = $("input:checked");
            var array = new Array();
            for (let i = 0; i < checkedBoxes.length; i++) {
                array.push(checkedBoxes[i].value);
            }
            jQuery.ajaxSettings.traditional = true;
            $.ajax({
                url: '@Url.ActionLink("NubmerOfBooksByPriceGenre", "Book")',
                data: { price: price, genres: array },
                method: "get",
                success: function (data) {
                    document.getElementById("main").innerHTML = "";
                    $("#main").append(mainPart());
                    partialLoad(data, price, array);
                    //GetAllAutors(nameLastName);
                    GetSelectedOption(price)//done
                    SelectChosenCBs(array);
                },
                error: function () {
                    alert("Error!");
                }
            });
        }







        function addFunctions() {
            $(document).on("click", "a[name='pagiNum']", function (e) {
                clickOnNumber()
            });

            $(document).on("click", "#next-page", function (e) {
                var currentPage = $('.pagination li.active').index();
                if (currentPage === totalPages)
                    return false;
                else {
                    var checkedBoxes = $("input:checked");
                    var array = new Array();
                    for (let i = 0; i < checkedBoxes.length; i++) {
                        array.push(checkedBoxes[i].value);
                    }
                    //var nameLastName = $("#autors").val(); put price
                    var price = $("#prices").val(); //done
                    currentPage++;
                    $('.pagination li').removeClass("active");
                    GetSixBooks(currentPage, price, array);
                    $(`.pagination li.page-item:eq(${currentPage - 1})`).addClass("active");
                }
            });

            $(document).on("click", "#previous-page", function (e) {
                var currentPage = $('.pagination li.active').index();
                if (currentPage === 1)
                    return false;
                else {
                    var checkedBoxes = $("input:checked");
                    var array = new Array();
                    for (let i = 0; i < checkedBoxes.length; i++) {
                        array.push(checkedBoxes[i].value);
                    }
                    //var nameLastName = $("#autors").val(); put price
                    var price = $("#prices").val(); //done
                    currentPage--;
                    $('.pagination li').removeClass("active");
                    GetSixBooks(currentPage, price, array);
                    $(`.pagination li.page-item:eq(${currentPage - 1})`).addClass("active");
                }
            });
        }
            window.onload = addFunctions();
        function AddToCart(id) {
                $.ajax({
                    url: '@Url.ActionLink("AddBookToCart", "Book")',
                    data: { bookId: id },
                    method: "post",
                    success: function () {
                        var x = parseInt($("#cartI").text()) + 1
                        $("#cartI").text(x);
                    },
                    error: function () {
                        alert("Error!");
                    }
                });
            }
    </script>
}
